@import "tailwindcss";
@import "@storefront-ui/vue/tailwind-config.css";

@plugin "@storefront-ui/typography";

@source '../../**/*.vue';
@source '../../../../node_modules/@storefront-ui/vue';

body {
  margin: 0;
}

.promo-enter-active {
  transition: all 0.4s ease;
}

.promo-leave-active {
  transition: all 0.4s ease;
}

.promo-enter-from {
  opacity: 0;
  transform: translateY(16px);
}

.promo-leave-to {
  opacity: 0;
  transform: translateY(-16px);
}